@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Roboto+Condensed:ital,wght@1,300&family=Twinkle+Star&display=swap');


html, body{

  margin:0;
  padding:0;  
}

body{
width:100%;
height: 100%;
font-family:sans-serif;
letter-spacing:0.03cm;
line-height: 1.6;
font-family: 'Montserrat', sans-serif;
background-color: #F98888;
}

.title{

text-align: center;
font-size: 40px;
color: #6a6a6a;
margin-top: 100px;
font-weight: 100;
font-family: 'Roboto Condensed', sans-serif;

}




.container{
width: 100%;
max-width: 1200px;
height: 430px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: auto;


}

.container .card{
width: 330px;
height: 430px;
border-radius: 10px;
box-shadow: 0 2px rgba(0, 0, 0, 0.2);
overflow: hidden;
margin: 20px;
text-align: center;
transition: all 0.25px;



}


.container .card:hover{

transform: translateY(-15px);
box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);


}

.container .card img{

width: 330px;
height: 220px;

}

.container .card h4{

font-weight: 600px;


}

.container .card p{

padding: 0 irem;
font-size: 16px;
font-weight: 300;


}

.container .card a {

font-weight: 500;
text-decoration: none;
color: #3498db;

}


span {

  font-family: 'Twinkle Star', cursive;
  background-color: chocolate;


} 

.CENTER {

  text-align: center;

}



.color {

color:#3c97b7;
  
}